
<section>
    <a routerLink="../addparticipant" routerLinkActive="active" id="plus"><img src="assets/tadd.png"> </a>
   <!---<nav>
        <a routerLink="./addformateur" routerLinkActive="active" >
            <img src="assets/tadd.png" alt="image">
            </a>
    </nav>--> 
    <table>
        <tr>
        <th> Liste de Participants </th>
        </tr>
        
        <app-participant *ngFor="let part of participants " [participant] = "part" >
            
        </app-participant>
        
    </table>
</section>