<body>
    <section>
        <div class="icon">
            <ul>
                <li id="li1">
                    <img src= "assets/icon2.png"> 
                    <span> {{nbrSessions}} Sessions</span>
                </li>
                <li  id="li2">
                    <img src= "assets/icon1.png"> 
                    <span> {{nbrParticipants}} Participants </span>
                </li>
                <li  id="li3">
                    <img src= "assets/formateur.png"> 
                    <span> {{nbrFormateurs}} Formateurs </span>
                </li>
            </ul>
        </div>
        <div>
            <table id="tab1">
                <tr>
                   <th> Stack </th>
                    <th>Nombre de Sessions </th>
                </tr>
                <tr>
                    <td>MEAN Stack </td>
                    <td>{{meanstack}}</td>
                </tr>
                <tr>
                    <td>Android</td>
                    <td>{{android}}</td>
                </tr>
                <tr>
                    <td>Ionic </td>
                    <td>{{ionic}}</td>
                </tr>
                <tr>
                    <td>Angular </td>
                    <td>{{angular}}</td>
                </tr>
                <tr>
                    <td>NodeJS </td>
                    <td>{{nodejs}}</td>
                </tr>
                <tr>
                    <td>Xamarin </td>
                    <td>{{Xamarin}}</td>
                </tr>
            </table>
            <table id="tab2">
                <tr><th> top Formateurs</th></tr>
                <tr>Mhadhbi Mouwahed </tr>
                <tr>Mimouni Anis</tr>
            </table>
        </div>
    </section>
</body>
